<div class="mt-4">
    {{#each posts}}
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
                <p class="card-text">{{this.content}}</p>
                <a href="/post/{{this.id}}" class="btn btn-primary">Read More</a>
            </div>
        </div>
    {{/each}}
</div>
